<%- include('partials/header') -%>

<h1 class="text-4xl">Premier league's big six</h1>

<% if (locals.isAuthenticated) { %>
    <p>You are logged in. <a href="/profile" class="underline">View your profile</a>.</p>
<% } else { %>
    <p>You are not logged in. <a href="/login" class="underline">Login</a>.</p>
<% } %>

<div>
    <a href="/db" class="underline">League table</a>
</div>
<% if (locals.isAuthenticated) { %>
    <div>
        <a href="/comm" class="underline">Results</a>
    </div>
<% } else { %>
    <div>
        <a href="/results" class="underline">Results</a>
    </div>
<% } %>
<div>
    <a href="/schedule" class="underline">Schedule</a>
</div>

<%- include('partials/footer') -%>

