<%- include('partials/header') -%>

<link href="/leagueTable.css" rel="stylesheet" type="text/css">

    <table>
      <tr>
          <th>Club</th>
          <th class="splitting">Games</th>
          <th class="splitting">Points</th>
          <th class="splitting">Goal difference</th>
      </tr>
      <% data1.forEach(function(row) { %>
        <tr>
            <td><%= row.club %></td>
            <td><%= row.games_played %></td>
            <td><%= row.points %></td>
            <td><%= row.goal_diff %></td>
        </tr>
      <% }); %>
      </table>
<%- include('partials/footer') -%>