<%- include('partials/header') -%>
<script src="https://kit.fontawesome.com/11b5114083.js" crossorigin="anonymous"></script>
<style>
.comment {
    background-color: lightgray;
    border-radius: 2px;
}
.bzvz {
    background-color: lightgray;
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.attention {
    background-color: CornflowerBlue;
    border-radius: 2px;
    color: white;
}


input {
    border: 1px black solid;
}

.main {
    display: none;
}

.smallForm {
    display: inline;
    margin-left: 10px;
}

i {
   margin-left: 10px;
}

</style>

<div>
      <% data.forEach(function(row, i) { %>
      <div>
      <% if ((i + 1) % 3 == 1) { %>
        <span class="attention">Gameweek <%= (i + 3) / 3 %></span>
        <% } %>
        <div>
            <span><%= row.home_club %></span>
            <span><%= row.home %> : </span>
            <span><%= row.away %></span>
            <span><%= row.away_club %></span>
        </div>
        </div>
        <% if (i % 3 == 2) { %>
        <div>
                    <span class="attention">Gameweek comments:</span>
                    <% if (row.comments !== undefined) { %>
                    <% row.comments.forEach(function(comment) { %>
                        <div>User: <%= comment.email %>, comment: <%= comment.comm %>
                        <% if(comment.owner || (user.email === "markozura@windowslive.com") ) { %>
                        <form class="smallForm" id="<%= i %>" name="formDelete" method="POST" action="/comm">
                                                    <input type="hidden" name="method" value="delete">
                                                    <input type="hidden" name="reviewid" value= <%= comment.id_review %>>
                                                </form>
                                                <button type="submit" form="<%= i %>" value="Submit"><i class="fa-solid fa-trash"></i></button>
                            <% if(comment.owner) { %>
                        <button class="but" onClick="hideShowEdit()"><i class="fa-solid fa-pen-to-square"></i><button>
                        </div>
                            <div id="edit" class="main">
                                            <form name="form2" method="POST" action="/comm">
                                            <label>Change comment:</label>
                                            <input type="text" name="comm">
                                            <input type="hidden" name="gw" value= <%= ((i + 1) / 3) %>>
                                            <input type="hidden" name="email" value= <%= user.email %>>
                                            <input type="hidden" name="method" value="put">
                                            <input type="hidden" name="reviewid" value= <%= comment.id_review %>
                                            </br>
                                            <button type="submit" name="submit">
                                                        Submit
                                                    </button>
                                            </form>
                                        </div>
                                        <% } %>
                        <% } %>
                        <div>date & time: <%= comment.date_time %></div>
                        <% }); %>
                    </div>
                    <% } %>
            <% if(row.owner) { %>
                <span class="attention">You already commented this gameweek</span>
            <% } else { %>
            <div>
            <button class="bzvz" onClick="hideShow(<%= row.gameweekid %>)">Leave a comment</button>
            </div>
            <% } %>
        <% } %>
      <% }); %>
      <div id="main" class="main">
                      <form name="form1" method="POST" action="/comm">
                      <label>Type here:</label>
                      <input type="text" name="comm">
                      <input type="hidden" id="insert" name="gw">
                      <input type="hidden" name="email" value= <%= user.email %>>
                      <input type="hidden" name="method" value="post">
                      <button type="submit" name="submit">
                                  Submit
                              </button>
                      </form>
                  </div>
      </div>

<script>
    var div = document.getElementById('main');
    var display = 1;

    var divEdit = document.getElementById('edit');
    var show = 1;

    function hideShowEdit() {
            if(show == 1) {
                divEdit.style.display = 'block';
                show = 0;
            }
            else {
            divEdit.style.display = 'none';
            show = 1;
            }
        }

    function hideShow(gwid) {
        if(display == 1) {
            div.style.display = 'block';
            document.getElementById('insert').value = gwid;
            display = 0;
        }
        else {
        div.style.display = 'none';
        display = 1;
        }
    }

</script>
<%- include('partials/footer') -%>