<%- include('partials/header') -%>

<div>
      <% data.forEach(function(row, i) { %>
      <% if ((i + 1) % 3 == 1) { %>
        <span>Gameweek <%= (i + 3) / 3 %><span>
        <% } %>
        <div>
            <span><%= row.home_club %></span>
            <span><%= row.home %> : </span>
            <span><%= row.away %></span>
            <span><%= row.away_club %></span>
        </div>
      <% }); %>
      </div>
<%- include('partials/footer') -%>