<%- include('partials/header') -%>
<script src="https://kit.fontawesome.com/11b5114083.js" crossorigin="anonymous"></script>
<style>
    button {
        margin-left: 5px;
    }

    .main {
        display: none;
    }

    .corr {
        border: 1px black solid;
    }
</style>
<div>
      <% data.forEach(function(row, i) { %>
      <% if ((i + 1) % 3 == 1) { %>
        <span>Gameweek <%= row.gameweekid %><span>
        <% } %>
        <div>
            <span><%= row.home_club %> vs</span>
            <span><%= row.away_club %></span>
            <span><%= row.date_time %></span>
            <% if (user.email === "markozura@windowslive.com") {%>
            <button onClick="hideShow(<%= row.id_match %>)"><i class="fa-solid fa-pen-to-square"></i><button>
            <% } %>
        </div>
      <% }); %>
                <div id="main" class="main">
                        <form name="updateForm" method="POST" action="/schedule">
                            <label>Result:</label>
                            <input class="corr" type="number" name="home_goals">
                            <input class="corr" type="number" name="away_goals">
                            <input type="hidden" id="myLink" name="matchid">
                            <button type="submit" value="Submit">Submit</button>
                        </form>
                    </div>
      </div>

<script>
    var div = document.getElementById('main');
    var display = 1;

    function hideShow(id_match) {
        if(display == 1) {
            div.style.display = 'block';
            display = 0;
            document.getElementById("myLink").value = id_match;
        }
        else {
            div.style.display = 'none';
            display = 1;
        }
    }
</script>

<%- include('partials/footer') -%>